@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pomodoro {
  margin: 80px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #190c49;
  box-shadow: 21px 21px 36px #0e072a, -21px -21px 36px #241168;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.pomodoro::after {
  background-color: #0e072ad9;
  content: "";
  width: 350px;
  height: 350px;
  position: absolute;
  z-index: -9;
  border-radius: 50%;
}

.head {
  color: aqua;
  font-size: 50px;
  font-family: "Poppins", Courier, monospace;
  margin-bottom: 50px;
  font-weight: 800;
}
body {
  background-color: #190c49;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  position: relative; 
}
.type {
  color: aqua;
  font-weight: 800;
  background: rgb(13, 8, 54);
  border-radius: 50px;
}
button {
  width: 150px;
  height: 60px;
  margin: 5px;
  color: #666c84ab;
  border: 3px solid #001f8f00;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgb(13, 8, 54);
  font-size: 1em;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background: #ca6969cd;
  color: rgb(12, 25, 83);
}
img {
  opacity: 0.4;
}
img:hover {
  opacity: 0.8;
  cursor: pointer;
}
.time {
  color: aqua;
  font-size: 5em;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-weight: 800;
}
.pause {
  letter-spacing: 10px;
  color: aqua;
  font-size: 1em;
  font-weight: 700;
}
.settingsModal{
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  width: 500px;
  background-color: #fff;
  color: #444;
  border-radius: 30px;
  position: absolute;
  top: 50;
  z-index: 99;
}
.top{
  border-bottom: 1px solid #00000030;
}
.h1{
  font-size: 2rem;
  font-weight: 600;
}
.headtime{
  display: block;
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.timeSelect{
  padding-bottom: 20px;
  border-bottom: 1px solid #00000028;
}
.timeSelectItem{
  display: inline;
}
.flexc{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.flexr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
span{
  font-size: 12px;
  margin-bottom: 3px;
}
.lessop{
  opacity: .7;
}
input {
  border: none;
  border-radius: 15px;
  padding: 12px;
  background-color: #d1dae9;  
  font-size: medium;
  font-weight: bold;
  width: 110px;
  outline: none;
  opacity: .8;
 }
 .X{
  font-size: 20px;
  cursor: pointer;
  opacity: .4;
 }
 .X:hover{
  opacity: .8;
 }
.fontChange{
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #0000002c;
}
 .fnt{
  margin: 15px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #000;
  font-size: 15px;

 }

 .fnt:hover{
  background-color: #ca6969cd;
  cursor: pointer;
 }
.hidden{
  display: none;
}
 .colorChange{
  margin-top: 20px;
  margin-bottom: -25px;
 }
.color1{
  background-color: red;
}
.color2{
  background-color: rgb(85, 197, 85);
}
.color3{
  background-color: #240b53;
}
 
 input:focus {
  outline-color: white;
  place-content: "Enter your message!";
 }
 .apply{
  text-align: center;
  transform: translateY(60px);
 }
 .apply button{
  background-color: #ca6969fb;
  color: whitesmoke;
  font-weight: 800;
 }
 .apply button:hover{
  color: #ca6969fb;
  background-color: rgb(187, 176, 176);
  font-weight: 800;
 }

/* responsiveness */
@media screen and (max-width: 768px) {
  .pomodoro {
    margin: 70px;
    width: 300px;
    height: 300px;
  }
  .pomodoro::after {
    max-width: 28vh;
    max-height: 28vh;
    min-width: 25vh;
    min-height: 25vh;
  }
  .head {
    font-size: 30px;
  }
  .time {
    font-size: 3em;
  }
  button {
    width: 100px;
    height: 40px;
    font-size: 0.9em;
  }
  .pause {
    font-size: 0.8em;
  }
}
